


.firstoverlay { 
  color:white;
  position:absolute;
  font-size: 70px;
  top: 30%;
  width:100%;
  text-align:center;
  font-family: 'Muli', sans-serif;

}

.secondoverlay { 
  color:white;
  position:absolute;
  font-size: 35px;
  top: 42%;
  width:100%;
  text-align:center;
  font-family: 'Muli', sans-serif;
  
}

.thirdoverlay { 
  color:white;
  position:absolute;
  font-size: 22px;
  top: 54%;
  width:100%;
  text-align:center;
  font-family: 'Muli', sans-serif;
  
}

.timeoverlay { 
  color:#fff;
  position:absolute;
  top:60%;
  width:100%;
  text-align:center;
}

.logooverlay { 
  color:rgb(255, 255, 255);
  position:absolute;
  top: 95%;
  margin-left: 670px;
  width:95%;

}