/* iphone se */
@media screen and (orientation:portrait) and (max-width: 340px) and (min-width: 310px) {

  .forest-portrait {
    width: 23em;
  }

  .firstoverlay { 
    display: flex;
    justify-content: center;
    color:white;
    position:absolute;
    z-index: 40;
    font-size: 1.75em;
    top: 3em;
    width: 13em;
    text-align:center;
    font-family: 'Muli', sans-serif;

  }

  .secondoverlay { 
    display: flex;
    justify-content: center;
    color:white;
    position:absolute;
    font-size: .9em;
    top: 9em;
    width: 24em;
    text-align:center;
    font-family: 'Muli', sans-serif;
    
  }

  .thirdoverlay { 
    display: flex;
    justify-content: center;
    color:white;
    position:absolute;
    font-size: .6em;
    top: 19em;
    width: 37em;
    text-align:center;
    font-family: 'Muli', sans-serif;
    
  }

  .timeoverlay { 
    display: flex;
    justify-content: center;
    justify-items: center;
    color:#fff;
    position:absolute;
    top: 13em;
    width: 22.5em;
    text-align:center;
  }

  .logooverlay { 
    display: flex;
    justify-content: center;
    color:rgb(255, 255, 255);
    position:absolute;
    top: 24em;
    width: 22em;

  }

}

@media screen and (orientation:landscape) and (max-width: 600px) and (min-width: 310px) { 

  .forest-image {
    width: 41em;
  }

  .firstoverlay { 
    display: flex;
    justify-content: center;
    color:white;
    position:absolute;
    z-index: 40;
    font-size: 3em;
    top: 1.75em;
    width: 13.5em;
    text-align:center;
    font-family: 'Muli', sans-serif;

  }

  .secondoverlay { 
    display: flex;
    justify-content: center;
    color:white;
    position:absolute;
    font-size: 1.5em;
    top: 6em;
    width: 26.5em;
    text-align:center;
    font-family: 'Muli', sans-serif;
    
  }

  .thirdoverlay { 
    display: flex;
    justify-content: center;
    color:white;
    position:absolute;
    font-size: .8em;
    top: 17em;
    width: 50em;
    text-align:center;
    font-family: 'Muli', sans-serif;
    
  }

  .timeoverlay { 
    display: flex;
    justify-content: center;
    justify-items: center;
    color:#fff;
    position:absolute;
    top: 15em;
    width: 40em;
    text-align:center;
  }

  .logooverlay { 
    display: flex;
    justify-content: center;
    color:rgb(255, 255, 255);
    position:absolute;
    top: 22em;
    width: 38em;

  }

} 

/* galaxy and iphone 6/7/8*/
@media screen and (orientation:portrait) and (max-width: 400px) and (min-width: 350px) and (max-height: 700px) {

  .forest-portrait {
    width: 27em;
  }

  .firstoverlay { 
    display: flex;
    justify-content: center;
    color:white;
    position:absolute;
    z-index: 40;
    font-size: 2em;
    top: 4em;
    width: 13.5em;
    text-align:center;
    font-family: 'Muli', sans-serif;

  }

  .secondoverlay { 
    display: flex;
    justify-content: center;
    color:white;
    position:absolute;
    font-size: 1em;
    top: 11em;
    width: 26.5em;
    text-align:center;
    font-family: 'Muli', sans-serif;
    
  }

  .thirdoverlay { 
    display: flex;
    justify-content: center;
    color:white;
    position:absolute;
    font-size: .6em;
    top: 23em;
    width: 44em;
    text-align:center;
    font-family: 'Muli', sans-serif;
    
  }

  .timeoverlay { 
    display: flex;
    justify-content: center;
    justify-items: center;
    color:#fff;
    position:absolute;
    top: 15em;
    width: 27em;
    text-align:center;
  }

  .logooverlay { 
    display: flex;
    justify-content: center;
    color:rgb(255, 255, 255);
    position:absolute;
    top: 30em;
    width: 26em;

  }

}

@media screen and (orientation:landscape) and (max-width: 699px) and (min-width: 601px) {

  .forest-image {
    width: 96em;
  }

  .firstoverlay { 
    display: flex;
    justify-content: center;
    color:white;
    position:absolute;
    z-index: 40;
    font-size: 7em;
    top: .75em;
    width: 13.75em;
    text-align:center;
    font-family: 'Muli', sans-serif;

  }

  .secondoverlay { 
    display: flex;
    justify-content: center;
    color:white;
    position:absolute;
    font-size: 4em;
    top: 3.5em;
    width: 24em;
    text-align:center;
    font-family: 'Muli', sans-serif;
    
  }

  .thirdoverlay { 
    display: flex;
    justify-content: center;
    color:white;
    position:absolute;
    font-size: 2em;
    top: 12em;
    width: 47em;
    text-align:center;
    font-family: 'Muli', sans-serif;
    
  }

  .timeoverlay { 
    display: flex;
    justify-content: center;
    justify-items: center;
    color:#fff;
    position:absolute;
    top: 28em;
    width: 95em;
    text-align:center;
  }

  .logooverlay { 
    display: flex;
    justify-content: center;
    color:rgb(255, 255, 255);
    position:absolute;
    top: 50em;
    width: 90em;

  }

}

/* iphone x */
@media screen and (orientation:portrait) and (max-width: 400px) and (min-width: 350px) and (max-height: 900px) and (min-height: 751px) {

  .forest-portrait {
    display: flex;
    justify-content: center;
    margin-right: 10em;
    width: 34em;
  }

  .firstoverlay { 
    display: flex;
    justify-content: center;
    color:white;
    position:absolute;
    z-index: 40;
    font-size: 2em;
    top: 8em;
    width: 13.5em;
    text-align:center;
    font-family: 'Muli', sans-serif;

  }

  .secondoverlay { 
    display: flex;
    justify-content: center;
    color:white;
    position:absolute;
    font-size: 1em;
    top: 20em;
    width: 26em;
    text-align:center;
    font-family: 'Muli', sans-serif;
    
  }

  .thirdoverlay { 
    display: flex;
    justify-content: center;
    color:white;
    position:absolute;
    font-size: .6em;
    top: 39em;
    width: 44em;
    text-align:center;
    font-family: 'Muli', sans-serif;
    
  }

  .timeoverlay { 
    display: flex;
    justify-content: center;
    justify-items: center;
    color:#fff;
    position:absolute;
    top: 25em;
    width: 26.5em;
    text-align:center;
  }

  .logooverlay { 
    display: flex;
    justify-content: center;
    color:rgb(255, 255, 255);
    position:absolute;
    top: 38em;
    width: 26.5em;

  }

}

@media screen and (orientation:landscape) and (max-width: 850px) and (min-width: 800px) and (max-height: 400px) {

  .forest-image {
    width: 59em;
    
  }

  .firstoverlay { 
    display: flex;
    justify-content: center;
    color:white;
    position:absolute;
    z-index: 40;
    font-size: 3.5em;
    top: 2.5em;
    width: 16.5em;
    text-align:center;
    font-family: 'Muli', sans-serif;

  }

  .secondoverlay { 
    display: flex;
    justify-content: center;
    color:white;
    position:absolute;
    font-size: 1.75em;
    top: 7.5em;
    width: 32.5em;
    text-align:center;
    font-family: 'Muli', sans-serif;
    
  }

  .thirdoverlay { 
    display: flex;
    justify-content: center;
    color:white;
    position:absolute;
    font-size: 1em;
    top: 18em;
    width: 56em;
    text-align:center;
    font-family: 'Muli', sans-serif;
    
  }

  .timeoverlay { 
    display: flex;
    justify-content: center;
    justify-items: center;
    color:#fff;
    position:absolute;
    top: 20em;
    width: 57em;
    text-align:center;
  }

  .logooverlay { 
    display: flex;
    justify-content: center;
    color:rgb(255, 255, 255);
    position:absolute;
    top: 30em;
    width: 55em;

  }

}


/* iphone 6/7/8/plus and pixel */
@media screen and (orientation:portrait) and (max-width: 500px) and (min-width: 400px) and (max-height: 750px) and (min-height: 699px){

  .forest-portrait {
    width: 30em;
  }

  .firstoverlay { 
    display: flex;
    justify-content: center;
    color:white;
    position:absolute;
    z-index: 40;
    font-size: 2em;
    top: 5em;
    width: 15em;
    text-align:center;
    font-family: 'Muli', sans-serif;

  }

  .secondoverlay { 
    display: flex;
    justify-content: center;
    color:white;
    position:absolute;
    font-size: 1em;
    top: 13em;
    width: 30em;
    text-align:center;
    font-family: 'Muli', sans-serif;
    
  }

  .thirdoverlay { 
    display: flex;
    justify-content: center;
    color:white;
    position:absolute;
    font-size: .6em;
    top: 30em;
    width: 48.5em;
    text-align:center;
    font-family: 'Muli', sans-serif;
    
  }

  .timeoverlay { 
    display: flex;
    justify-content: center;
    justify-items: center;
    color:#fff;
    position:absolute;
    top: 20em;
    width: 29.5em;
    text-align:center;
  }

  .logooverlay { 
    display: flex;
    justify-content: center;
    color:rgb(255, 255, 255);
    position:absolute;
    top: 32em;
    width: 29em;

  }

}

@media screen and (orientation:landscape) and (max-width: 799px) and (min-width: 700px) {

  .forest-image {
    width: 53em;
  }

  .firstoverlay { 
    display: flex;
    justify-content: center;
    color:white;
    position:absolute;
    z-index: 40;
    font-size: 3em;
    top: 1.5em;
    width: 17.5em;
    text-align:center;
    font-family: 'Muli', sans-serif;

  }

  .secondoverlay { 
    display: flex;
    justify-content: center;
    color:white;
    position:absolute;
    font-size: 1.75em;
    top: 5em;
    width: 30em;
    text-align:center;
    font-family: 'Muli', sans-serif;
    
  }

  .thirdoverlay { 
    display: flex;
    justify-content: center;
    color:white;
    position:absolute;
    font-size: 1em;
    top: 15em;
    width: 52em;
    text-align:center;
    font-family: 'Muli', sans-serif;
    
  }

  .timeoverlay { 
    display: flex;
    justify-content: center;
    justify-items: center;
    color:#fff;
    position:absolute;
    top: 18em;
    width: 52.5em;
    text-align:center;
  }

  .logooverlay { 
    display: flex;
    justify-content: center;
    color:rgb(255, 255, 255);
    position:absolute;
    top: 28em;
    width: 50em;

  }

}


/* pixel xl */
@media screen and (orientation:portrait) and (max-width: 500px) and (min-width: 400px) and (max-height: 900px) and (min-height: 749px){

  .forest-portrait {
    width: 32em;
  }

  .firstoverlay { 
    display: flex;
    justify-content: center;
    color:white;
    position:absolute;
    z-index: 40;
    font-size: 2.25em;
    top: 4.5em;
    width: 14em;
    text-align:center;
    font-family: 'Muli', sans-serif;

  }

  .secondoverlay { 
    display: flex;
    justify-content: center;
    color:white;
    position:absolute;
    font-size: 1.25em;
    top: 11em;
    width: 24.5em;
    text-align:center;
    font-family: 'Muli', sans-serif;
    
  }

  .thirdoverlay { 
    display: flex;
    justify-content: center;
    color:white;
    position:absolute;
    font-size: .7em;
    top: 26em;
    width: 43em;
    text-align:center;
    font-family: 'Muli', sans-serif;
    
  }

  .timeoverlay { 
    display: flex;
    justify-content: center;
    justify-items: center;
    color:#fff;
    position:absolute;
    top: 20em;
    width: 30.5em;
    text-align:center;
  }

  .logooverlay { 
    display: flex;
    justify-content: center;
    color:rgb(255, 255, 255);
    position:absolute;
    top: 35em;
    width: 38em;
    margin-left: -5em;

  }

}

@media screen and (orientation:landscape) and (max-width: 824px) and (min-width: 810px) and (max-height: 450px) and (min-height: 400px){

  .forest-portrait {
    width: 32em;
  }

  .firstoverlay { 
    display: flex;
    justify-content: center;
    color:white;
    position:absolute;
    z-index: 40;
    font-size: 13em;
    top: 1.75em;
    width: 17.25em;
    text-align:center;
    font-family: 'Muli', sans-serif;

  }

  .secondoverlay { 
    display: flex;
    justify-content: center;
    color:white;
    position:absolute;
    font-size: 6.5em;
    top: 6em;
    width: 34.25em;
    text-align:center;
    font-family: 'Muli', sans-serif;
    
  }

  .thirdoverlay { 
    display: flex;
    justify-content: center;
    color:white;
    position:absolute;
    font-size: 4em;
    top: 16em;
    width: 56em;
    text-align:center;
    font-family: 'Muli', sans-serif;
    
  }

  .timeoverlay { 
    display: flex;
    justify-content: center;
    justify-items: center;
    color:#fff;
    position:absolute;
    top: 71em;
    width: 225em;
    text-align:center;
  }

  .logooverlay { 
    display: flex;
    justify-content: center;
    color:rgb(255, 255, 255);
    position:absolute;
    top: 120em;
    width: 220em;

  }

}

/* web */

@media screen and (min-width: 825px) { 

  .forest-image {
    width: 110em;
  }

  .firstoverlay { 
    display: flex;
    justify-content: center;
    color:white;
    position:absolute;
    font-size: 500%;
    top: 30%;
    width:100%;
    text-align:center;
    font-family: 'Muli', sans-serif;

  }

  .secondoverlay { 
    display: flex;
    justify-content: center;
    color:white;
    position:absolute;
    font-size: 250%;
    top: 42%;
    width:100%;
    text-align:center;
    font-family: 'Muli', sans-serif;
    
  }

  .thirdoverlay { 
    display: flex;
    justify-content: center;
    color:white;
    position:absolute;
    font-size: 160%;
    top: 54%;
    width:100%;
    text-align:center;
    font-family: 'Muli', sans-serif;
    
  }

  .timeoverlay { 
    display: flex;
    justify-content: center;
    color:#fff;
    position:absolute;
    top:60%;
    width:100%;
    text-align:center;
  }

  .logooverlay { 
    display: flex;
    justify-content: center;
    color:rgb(255, 255, 255);
    position:absolute;
    top: 58em;
    width: 100em;

  }
}