.daterangepicker {
    position: relative;
    top: 0px;
    color: inherit;
    background-color: #efefef !important;
    border: 0;
    width: 820px;
    padding-top: 0;
    margin: 0;
    max-width: none;
    padding: 0;
    z-index: 900;
    display: none;
    font-size: 15px;
    line-height: 1em;
    margin-right: 0 !important;
  }

  .daterangepicker .calendar-table .next span, .daterangepicker .calendar-table .prev span {
    background-color: #efefef !important;
    border-radius: 0;
    display: inline-block;
    padding: 3px;
  }

  .daterangepicker .calendar-table {
    border: 0;
    border-radius: 4px;
    background-color: #efefef;
  }
  
  .daterangepicker .calendar-table table {
    width: 100%;
    margin: 0;
    border-spacing: 0;
    border-collapse: collapse;
  }

  .daterangepicker .drp-calendar {
    background-color: #efefef !important;
    display: none;
    max-width: 800px;
  }
  
  .daterangepicker .drp-calendar.left {
    background-color: #efefef !important;
    padding: 0;
    margin-right: 30px;
  }
  
  .daterangepicker .drp-calendar.right {
    padding: 0;
  }

  .daterangepicker .calendar-table th, .daterangepicker .calendar-table td {
    min-width: 32px;
    width: 55px;
    height: 55px;
    line-height: 24px;
    font-size: 12px;
    border: 6px solid #efefef;
    cursor: pointer;
    background-color: #efefef;
    border-radius: 0 !important;
  }

  .daterangepicker .calendar-table th {
    text-transform: uppercase;
  }

  .daterangepicker .calendar-table td {
    background-color: #fff;
    text-align: right;
    vertical-align: top;
    padding-right: 10px;
    font-family: 'EB Garamond';
    font-weight: bold;
  }

  .daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #8E7037;
    color: black;
    border: 6px solid #efefef;
  }

  .daterangepicker td.available:hover, .daterangepicker th.available:hover {
    background-color: #8E7037;
    border: 6px solid #efefef;
    color: inherit;
  }

  .daterangepicker td.in-range {
    background-color: rgb(223, 193, 141);
    color: #000;
    border-radius: 0;
    border: 6px solid #efefef;
  }

  .daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date {
    background-color: #efefef !important;
    border: 6px solid #efefef !important;
    /*color: rgb(172, 172, 172);*/
    color: #efefef !important;
    cursor: auto;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
  }

  .daterangepicker:before {
    top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
  }
  
  .daterangepicker:after {
    top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
  }

  .daterangepicker .ranges li:hover {
    background-color: #000;
  }

  .drp-selected {
    color: #efefef;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
  }

  .cancelBtn {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    cursor: auto !important;
    color: #efefef !important;
  }

  .applyBtn {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: #efefef !important;
    color: #efefef !important;
    border-radius: 0 !important;
    border: 0 !important;
    cursor: auto !important;
  }

  /*.applyBtn:hover {
    background-color: rgb(223, 193, 141) !important;
  }*/