/* mobile */

@media all and (max-width: 699px) and (min-width: 400px) {

  .foot-icon {
    width: 13%;
    margin-top: 02%;
    margin-left: 10%;

  }

  .payment-icon {
    width: 80%;
    margin-top: -14%;
    margin-left: 10%;
  }

  .mail-icon {
    width: 06.25%;
    margin-top: 01%;
    margin-left: 08%;
  }


  .footer-wrapper {
    background-color: rgb(36, 36, 36);
  }


  .email-container {
    background-color: rgb(46, 46, 46);
    width: 100%;
    padding-bottom: 1.5%;
    padding-top: 0.75%;
  }

  .link-container {
    background-color: rgba(35, 35, 35, 1);
    width: 100%;
  
  }

  .icon-container {
    margin-left: 65%;
    margin-top: 7%;
    padding-bottom: 01%;
    width: 28%;
  }

  .copyright {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 45%;
  }
  .cpy-container {
    display: flex;
    justify-content: center;
    margin-left: 08%;
    padding-top: 3%;
    width: 800%;
    font-size: 45%;
  }

  .dps-container {
    display: flex;
    justify-content: center;
    margin-left: -30%;
    margin-top: 2.8%;
    margin-bottom: 28%;
    width: 500%;
    font-size: 45%;
  }

  .left-links {
    display: flex;
    flex-direction: column;
    margin-left: 39%;
    margin-top: -37%;
    /* height: 100px; */
    /* width: 180px; */
    font-size: 45%;
  }

  .center-links {
    display: flex;
    flex-direction: column;
    margin-left: 60%;
    margin-top: -16.5%;
    /* height: 100px; */
    /* width: 180px; */
    font-size: 45%;
  }

  .right-links {
    display: flex;
    flex-direction: column;
    margin-left: 78%;
    margin-top: -13%;
    /* height: 100px; */
    /* width: 180px; */
    font-size: 45%;
  }
  
  .link {
    color: #ACACAC;
  }

  .link:hover {
    color: #484848
  }

  .line {
    background-color: #464646;
    width: 80%;
   
  }
}


/* web */

@media all and (min-width: 700px) {
  .foot-icon {
    width: 13%;
    margin-top: 02%;
    margin-left: 10%;

  }

  .payment-icon {
    width: 80%;
    margin-top: -14%;
    margin-left: 10%;
  }

  .mail-icon {
    width: 06.25%;
    margin-top: 01%;
    margin-left: 08%;
  }


  .footer-wrapper {
    background-color: rgb(36, 36, 36);
  }


  .email-container {
    background-color: rgb(46, 46, 46);
    width: 100%;
    padding-bottom: 1.5%;
    padding-top: 0.75%;
  }

  .link-container {
    background-color: rgba(35, 35, 35, 1);
    width: 100%;
  
  }

  .icon-container {
    margin-left: 65%;
    margin-top: 8%;
    padding-bottom: 01%;
    width: 28%;
  }

  .copyright {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 30%;
  }
  .cpy-container {
    display: flex;
    justify-content: center;
    margin-left: 14%;
    padding-top: 3%;
    width: 35%;
  }

  .dps-container {
    display: flex;
    justify-content: center;
    margin-left: -5.5%;
    margin-top: 3%;
    width: 40%;
  }

  .left-links {
    display: flex;
    flex-direction: column;
    margin-left: 38%;
    margin-top: -20%;
    /* height: 100px; */
    /* width: 180px; */
    font-size: 100%;
  }

  .center-links {
    display: flex;
    flex-direction: column;
    margin-left: 58%;
    margin-top: -13.1%;
    /* height: 100px; */
    /* width: 180px; */
    font-size: 100%;
  }

  .right-links {
    display: flex;
    flex-direction: column;
    margin-left: 78%;
    margin-top: -10.25%;
    /* height: 100px; */
    /* width: 180px; */
    font-size: 100%;
  }
  
  .link {
    color: #ACACAC;
  }

  .link:hover {
    color: #484848
  }

  .line {
    background-color: #464646;
    width: 80%;
   
  }
}