.navbar-upper-background {
    display: flex;
    flex-direction: row;
    background-color: #898989;
    padding-left: 120px;
    padding-right: 100px;
    justify-content: space-between;
    height: 36px;
    align-items: center;
    font-size: smaller;
    color: white;
    text-decoration: none;
    box-shadow: none;
}

.navbar-navdropdown {
    z-index: 999 !important;
}

.navbar-background {
    display: flex !important;
    flex-direction: row !important;
    background-color: #373737 !important;
    padding-left: 120px !important;
    padding-right: 120px !important;
    justify-content: space-between !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    z-index: 998 !important;
}

.navbar-navbar {
    padding-top: 40px;
}

.navbar-left {
    display: flex !important;
    justify-content: left !important;
}

.navbar-right {
    text-align: right !important;
    display: flex !important;
    justify-content: right !important;
}

.modal-small-custom-button {
    background: #8E7037;
    color: white;
    font-size: smaller;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 12%;
    margin-top: 1%;
}

.modal-small-custom-button:hover {
    background-color: rgb(223, 193, 141) !important;
}

a:link.dropdown-item {
    color: black !important;
}

a:link.dropdown-item.disabled {
    color: gray !important;
}