.roomsrates-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #898989;
    width: 100%;
    padding: 1em 0 1em 0;
    font-size: 35px;
    color: white;
    font-family: 'Catamaran', sans-serif;
}

.roomsrates-rooms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 30px;
    margin-bottom: 210px;
}

.roomsrates-room {
    width: 47%;
    margin-bottom: 2.5em;
}

.roomsrates-room-header {
    font-size: 22px;
    margin-bottom: 12px;
    font-family: 'Catamaran', sans-serif;
}

.roomsrates-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.roomsrates-ul-column {
    width: 40%;
    margin-right: 1em;
    margin-left: 0.6em;
    font-family: 'Catamaran', sans-serif;
}

.roomsrates-small-images-column {
    display: flex;
    flex-direction: column;
    margin-right: 1em;
}

.roomsrates-text-column {
    display: flex;
    flex-direction: column;
}

.roomsrates-details-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #898989;
    font-family: 'Catamaran', sans-serif;
}

.roomrates-description {
    margin-top:1em;
    font-family: 'Catamaran', sans-serif;
    font-size: 1.2em;
}

.roomsrates-button {
    background: #8E7037;
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    outline: none;
    font-size: smaller;
}

.roomsrates-button:hover {
    background: #755a29;
    transition: background 0.2s ease;
}