/* iphone se */
@media screen and (orientation:portrait) and (max-width: 350px) and (min-width: 300px) {
  .timer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: .75em;
    justify-content: center;
    border-style: solid;
    border-width: .1em;
    border-color: white;
    width: 18em;
  }

  .countdown {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .timecontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .countnumber {
    margin-left: .75em;
    margin-right: .75em;
    margin-top: .5em;
    font-size: 1em;
  }

  .countword {
    margin-top: -.5em;
    font-size: .75em;
  }

  .colon {
    margin-bottom: 0em;
    font-size: 1em;
  }

  .expired {
    font-size: 1em;
    color: rgb(126, 49, 49);
    border: .1em solid rgb(126, 49, 49);
    padding: 1em;
  }
}

@media screen and (orientation:landscape) and (max-width: 600px) and (min-width: 310px) {
  .timer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 1em;
    justify-content: center;
    border-style: solid;
    border-width: .1em;
    border-color: white;
    width: 22em;
  }

  .countdown {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .timecontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .countnumber {
    margin-left: .75em;
    margin-right: .75em;
    margin-top: .25em;
    font-size: 1.75em;
  }

  .countword {
    margin-top: -.5em;
    font-size: 1em;
  }

  .colon {
    margin-bottom: 0em;
    font-size: 1.75em;
  }

  .expired {
    font-size: 1em;
    color: rgb(126, 49, 49);
    border: .1em solid rgb(126, 49, 49);
    padding: 1em;
  }
}


/* galaxy and iphone 6/7/8 */
@media screen and (orientation:portrait) and (max-width: 400px) and (min-width: 350px) {

  .timer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: .75em;
    justify-content: center;
    border-style: solid;
    border-width: .1em;
    border-color: white;
    width: 18em;
  }

  .countdown {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .timecontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .countnumber {
    margin-left: .75em;
    margin-right: .75em;
    margin-top: .5em;
    font-size: 1em;
  }

  .countword {
    margin-top: -.5em;
    font-size: .75em;
  }

  .colon {
    margin-bottom: 0em;
    font-size: 1em;
  }

  .expired {
    font-size: 1em;
    color: rgb(126, 49, 49);
    border: .1em solid rgb(126, 49, 49);
    padding: 1em;
  }
}

@media screen and (orientation:landscape) and (max-width: 699px) and (min-width: 601px) {

  .timer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: .4em;
    justify-content: center;
    border-style: solid;
    border-width: .5em;
    border-color: white;
    width: 108em;
  }

  .countdown {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .timecontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .countnumber {
    margin-left: .5em;
    margin-right: .5em;
    margin-top: .25em;
    font-size: 11em;
  }

  .countword {
    margin-top: -.75em;
    font-size: 5em;
  }

  .colon {
    margin-bottom: 0em;
    font-size: 10em;
  }

  .expired {
    font-size: 1em;
    color: rgb(126, 49, 49);
    border: .1em solid rgb(126, 49, 49);
    padding: 1em;
  }
}


/* iphone x */
@media screen and (orientation:landscape) and (max-width: 850px) and (min-width: 800px) {

  .timer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: .2em;
    justify-content: center;
    border-style: solid;
    border-width: .4em;
    border-color: white;
    width: 120em;
  }

  .countdown {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .timecontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .countnumber {
    margin-left: .5em;
    margin-right: .5em;
    margin-top: .25em;
    font-size: 10em;
  }

  .countword {
    margin-top: -.75em;
    font-size: 5em;
  }

  .colon {
    margin-bottom: 0em;
    font-size: 10em;
  }

  .expired {
    font-size: 1em;
    color: rgb(126, 49, 49);
    border: .1em solid rgb(126, 49, 49);
    padding: 1em;
  }
}


/* iphone 6/7/8/ plus and pixel and pixel xl*/
@media screen and (orientation:portrait) and (max-width: 500px) and (min-width: 400px) and (max-height: 750px) and (min-height: 699px) {

  .timer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: .75em;
    justify-content: center;
    border-style: solid;
    border-width: .1em;
    border-color: white;
    width: 18em;
  }

  .countdown {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .timecontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .countnumber {
    margin-left: .75em;
    margin-right: .75em;
    margin-top: .5em;
    font-size: 1em;
  }

  .countword {
    margin-top: -.5em;
    font-size: .75em;
  }

  .colon {
    margin-bottom: 0em;
    font-size: 1em;
  }

  .expired {
    font-size: 1em;
    color: rgb(126, 49, 49);
    border: .1em solid rgb(126, 49, 49);
    padding: 1em;
  }
}

@media screen and (orientation:landscape) and (max-width: 799px) and (min-width: 700px) {

  .timer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 1.5em;
    justify-content: center;
    border-style: solid;
    border-width: .1em;
    border-color: white;
    width: 18em;
  }

  .countdown {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .timecontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .countnumber {
    margin-left: .75em;
    margin-right: .75em;
    margin-top: .25em;
    font-size: 1.25em;
  }

  .countword {
    margin-top: -.5em;
    font-size: .75em;
  }

  .colon {
    margin-bottom: 0em;
    font-size: 1em;
  }

  .expired {
    font-size: 1em;
    color: rgb(126, 49, 49);
    border: .1em solid rgb(126, 49, 49);
    padding: 1em;
  }
}


/* pixelxl */
@media screen and (orientation:portrait) and (max-width: 500px) and (min-width: 400px) and (max-height: 900px) and (min-height: 749px) {
  .timer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: .75em;
    justify-content: center;
    border-style: solid;
    border-width: .2em;
    border-color: white;
    width: 23em;
  }

  .countdown {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .timecontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .countnumber {
    margin-left: .75em;
    margin-right: .75em;
    margin-top: .25em;
    font-size: 2em;
  }

  .countword {
    margin-top: -.5em;
    font-size: .75em;
  }

  .colon {
    margin-bottom: 0em;
    font-size: 2em;
  }

  .expired {
    font-size: 2em;
    color: rgb(126, 49, 49);
    border: .1em solid rgb(126, 49, 49);
    padding: 1em;
  }
}

@media screen and (orientation:landscape) and (max-width: 850px) and (min-width: 821px) and (max-height: 450px) and (min-height: 400px) {
  .timer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 3em;
    justify-content: center;
    border-style: solid;
    border-width: .2em;
    border-color: white;
    width: 30em;
  }

  .countdown {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .timecontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .countnumber {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: .25em;
    font-size: 2.25em;
  }

  .countword {
    margin-top: -.5em;
    margin-bottom: .25em;
    font-size: 1.25em;
  }

  .colon {
    margin-bottom: 0em;
    font-size: 2em;
  }

  .expired {
    font-size: 2em;
    color: rgb(126, 49, 49);
    border: .1em solid rgb(126, 49, 49);
    padding: 1em;
  }
}


/* web 1024 by 640 */
@media screen and (max-width: 1100px) and (min-width: 1000px) { 
  .timer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 1.5em;
    justify-content: center;
    border-style: solid;
    border-width: .1em;
    border-color: white;
    width: 30em;
  }

  .countdown {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .timecontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .countnumber {
    margin-left: .3em;
    margin-right: .3em;
    margin-top: .1em;
    font-size: 3em;
  }

  .countword {
    margin-top: -1em;
    font-size: 1.1em;
  }

  .colon {
    font-size: 3em;
  }

  .expired {
    font-size: 1.5em;
    color: rgb(126, 49, 49);
    border: .1em solid rgb(126, 49, 49);
    padding: .5em;
  }
}

/* web 1280 by 800 */
@media screen and (max-width: 1285px) and (min-width: 1101px) { 
  .timer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 1.5em;
    justify-content: center;
    border-style: solid;
    border-width: .1em;
    border-color: white;
    width: 30em;
  }

  .countdown {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .timecontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .countnumber {
    margin-left: .3em;
    margin-right: .3em;
    margin-top: .1em;
    font-size: 3em;
  }

  .countword {
    margin-top: -1em;
    font-size: 1.1em;
  }

  .colon {
    font-size: 3em;
  }

  .expired {
    font-size: 1.5em;
    color: rgb(126, 49, 49);
    border: .1em solid rgb(126, 49, 49);
    padding: .5em;
  }
}

/* web 1440 by 560 */
@media screen and (max-width: 1500px) and (min-width: 1286px) {

  .timer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 1.5em;
    justify-content: center;
    border-style: solid;
    border-width: .1em;
    border-color: white;
    width: 30em;
  }

  .countdown {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .timecontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .countnumber {
    margin-left: .3em;
    margin-right: .3em;
    margin-top: .1em;
    font-size: 3em;
  }

  .countword {
    margin-top: -1em;
    font-size: 1.1em;
  }

  .colon {
    font-size: 3em;
  }

  .expired {
    font-size: 1.5em;
    color: rgb(126, 49, 49);
    border: .1em solid rgb(126, 49, 49);
    padding: .5em;
  }
}


/* web 1680 by 1050 */

/* web 1920 by 1200 */