/* mobile */

@media all and (max-width: 699px) and (min-width: 400px) {

  .timer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 70%;
    justify-content: center;
    border-style: solid;
    border-width: 05%;
    border-color: white;
    width: 55%;
  }

  .countdown {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .timecontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .countnumber {
    margin-left: 05%;
    margin-right: 05%;
    margin-top: 10%;
    font-size: 250%;
  }

  .countword {
    margin-top: -10%;
    font-size: 100%;
  }

  .colon {
    margin-bottom: 0%;
    font-size: 150%;
  }

  .expired {
    font-size: 90%;
    color: rgb(126, 49, 49);
    border: 5% solid rgb(126, 49, 49);
    padding: 90%;
  }
}

/* web */

@media all and (min-width: 700px) {

  .timer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 150%;
    justify-content: center;
    border-style: solid;
    border-width: 10%;
    border-color: white;
    width: 50%;
  }

  .countdown {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .timecontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .countnumber {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    font-size: 300%;
  }

  .countword {
    margin-top: -15%;
    font-size: 120%;
  }

  .colon {
    font-size: 300%;
  }

  .expired {
    font-size: 150%;
    color: rgb(126, 49, 49);
    border: 5% solid rgb(126, 49, 49);
    padding: 150%;
  }
}


/* (max-width: 1400px) and  */