
.about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100% !important;
    margin-left: 120px !important;
    margin-right: 0px !important;
    margin-top: 0px;
    margin-bottom: 50px;
    padding-right: 240px !important;
    padding-left: 0px !important;
}

.about-upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-right: 0px !important;
    margin-top: 70px;
}

.about-column-left {
    width: 40%;
    margin-right: 30px;
}

.about-column-right {
    width: 60%;
    display: flex;
    justify-content: flex-end !important;
    margin-right: 0px !important;
    padding-right: 0px !important;
    
}

.about-header {
    font-size: 50px;
    font-family: 'Playfair Display', serif;
}

.about-text {
    font-size: 28px;
    font-family: 'Catamaran', sans-serif;
}

.about-hr-div {
    width: 300px;
}

.about-line {
    margin-top: 0px;
    margin-bottom: 30px;
    border-top: 1px solid #8E7037;
    border-radius: 10px;
}

.about-lower {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}

.about-card-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.about-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 125px;
    width: 100%;
    box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
    margin-right: 25px;
    border: 0px;
    stroke: 0px;
}

.about-card-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 125px;
    width: 100%;
    box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
    margin-right: 0px;
    border: 0px;
    stroke: 0px;
}

.about-image-text {
    font-size: small;
    font-weight: bold;
    margin-top: 14px;
    font-family: 'Catamaran';
}

/* web 2560 by 870 */
@media screen and (max-width: 2561px) and (min-width: 1680px) { 
    .about-header {
        font-size: 60px;
    }

    .about-card{
        width:17%;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-right: 50px;

    }

    .about-card-right{
        width:17%;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .about-card-row {
        justify-content: center;
    }

    .about-image-text {
        font-size: 18px;
    }

    .aboutcardimg {
        width: 18%;
    }

    .aboutcardimg2 {
        width: 21%;
    }

    
}