.topoverlay { 
   color:#fff;
   position:absolute;
     z-index:12;
   top:40%;
   width:100%;
   text-align:center;
   text-shadow: 4px 4px #373737;
 }

 .bottomoverlay { 
  color:#fff;
  position:absolute;
    z-index:12;
  top:58%;
  width:100%;
  text-align:center;
  text-shadow: 4px 4px #373737;
}

.calendaroverlay {
  position:absolute;
    z-index:12;
  top: 80%;
  width:100%;
  text-align:center;

}

 .carouselcontrol {
  height: 26%;
  top: 33%;
  width: 86px;
  background: black;
 }
