/* @media all (min-width: 400px) and (max-width: 600px) { */

.gallery-icon-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    max-width: 11%;
    max-height: 11%;
  }

.carousel-gallery-item {
    width: 100%;
}

.gallery-image {
    border: 5px solid rgb(35, 35, 35);
    width: 30%;
    height: 100%;
}

.gallery-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 20em;
}

.gallery-tab {
    cursor: pointer;
    margin-right: 60px;
    font-size: 16px;
}

.gallery-tab:hover {
    color: #8e6f37 !important;
}

/* a {
    color: black;
    font-weight: bold;
    font-size: 125%;
    font-family: Open Sans;
    margin-bottom: 1%;
  }

a:hover {
    background-color: #8e6f37 !important;
    color: white;
    text-decoration: none;
}

a:active {
    color: #8e6f37 !important;
    text-decoration: none;
} */


@media screen and (max-width: 2561px) and (min-width: 1680px) { 
    .galleryhead {
        font-size: 60px;
    }

    .gallery-row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 40em;
  }



}

