.aboutheadcontainer {
  background-color: #898989;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 05.3%;
}

.header {
  display: flex;
  justify-content: center;
  padding-top: 4%;
  margin-bottom: 200%;
  font-size: 240%;
  color: white;
  font-family: 'Muli', sans-serif;
}

.aboutcarousel {
  display: flex;
  width: 40%;
  margin-left: 08%;
  margin-top: 03.5%;
}

.aboutus {
  width: 40%;
  margin-left: 52%;
  margin-top: -22%;
}

.aboutheader {
  display: flex;
  font-size: 250%;
  color: black;
  font-family: 'Muli', sans-serif;
}

.abouttext {
  display: flex;
  font-size: 130%;
  color: black;
  font-family: 'Muli', sans-serif;
}

.whyus {
  width: 40%;
  margin-left: 08%;
  margin-top: 08%;
}

.lakeimg {
  width: 40%;
  margin-left: 52%;
  margin-top: -20%;
  margin-bottom: 05%;
}

/* web 1680 by 1050 */
@media screen and (max-width: 1700px) and (min-width: 1501px) { 
  .aboutheadcontainer {
    background-color: #898989;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 3%;
  }

  .header {
    display: flex;
    justify-content: center;
    padding-top: 3%;
    font-size: 2.5em;
    color: white;
    font-family: 'Muli', sans-serif;
  }

  .lakeimg {
    width: 40%;
    margin-left: 52%;
    margin-top: -18%;
    margin-bottom: 05%;
  }
  
  .aboutheader {
    display: flex;
    font-size: 210%;
    color: black;
    font-family: 'Muli', sans-serif;
  }

}