.customrow {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;  
}

.text {
    display: flex; 
    font-family: 'Catamaran', sans-serif;
    font-size: 35px;
    color: white;
}

.dot {
    margin-top: 10%;
    height: 25vh;
    width: 25vh;
    background-color: #2c2c2c;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 10%;
  }

  .names {
      font-family: 'Catamaran', sans-serif; 
      font-size: 140%;
      color:  #2c2c2c;
      margin-top: 5%;
      margin-bottom: 5%;
  }

  .position {
      font-family: 'Catamaran', sans-serif;
      font-size: 115%;
      color: #808080;
      margin-bottom: 5%;
  }

  .text {
      font-family: 'Catamaran', sans-serif;
      font-size: 110%;
      color:  #2c2c2c;;
      margin-top: 5%;
      margin-bottom: 5%;
  }

@media screen and (max-width: 2561px) and (min-width: 1680px) { 
  
    .dot {
        margin-top: 10%;
        height: 50vh;
        width: 50vh;
        background-color: #2c2c2c;
        border-radius: 50%;
        display: inline-block;
        margin-bottom: 10%;
      }

}