.reservation-container {
    margin-left: 120px;
    margin-right: 0px;
    margin-top: 40px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
}

.reservation-header-container {
    display: flex;
    justify-content: center;
}

.reservation-header {
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 40px;
    font-family: 'EB Garamond';
}

.reservation-hr-container {
    text-align: center;
}

.reservation-menu {
    width: 100%;
    display: flex;
    justify-content: center;
}

.reservation-number {
    font-size: large;
}

.reservation-text {
    font-size: small;
    margin-top: 5px;
    margin-left: 4px;
}

.reservation-active {
    height: 35px;
    border-bottom: 2px solid #8E7037;
    display: flex;
    justify-content: center;
}

.reservation-space {
    margin-left: 30px;
}

.reservation-left-box {
    background-color: #efefef;
    width: 20%;
    height: 700px;
}

.reservation-right-box {
    background-color: #efefef;
    width: 76%;
    padding-left: 20px;
    padding-right: 0px;
    margin-left: 30px;
    margin-right: 0;
    height: 550px;
}

.reservation-line {
    border-top: 1px solid #dbdbdb;
}

.reservation-form-container {
    width: 84%;
    height: 33px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
    margin-top: 7px;
    margin-bottom: 20px;
}

.reservation-dropdown-container {
    width: 84%;
    height: 33px;
    background-color: white;
    padding-left: 8px;
    margin-left: 20px;
    margin-top: 7px;
    margin-bottom: 20px;
}

.reservation-dropdown .icon {
    position: absolute !important;
    right: 10px !important;
    top: 10px !important;
}

.reservation-room-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-right: 14px;
}

.reservation-small-room-container {
    display: flex;
    flex-direction: column;
}

.reservation-button-container {
    width: 100%;
    margin-top: 10px;
}

.reservation-custom-button {
    background: #8E7037;
    color: white;
    font-size: smaller;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.reservation-custom-button:hover {
    background-color: rgb(223, 193, 141) !important;
}